.home {
   background: #2779fa;
   height:100vh;
   justify-content: center;
}

.frmhome{
   height: 240px;
   width: 300px;
   align-items: center;
   justify-content: center;
   padding-left: 350px;
   padding-top: 200px;
}